//
// Common Example Styles
// ------------------------------




// import select field styles

@import "./select-less/select.less";




// Constants
// ------------------------------

// example site

@heading-color:                  black;
@text-color:                     #333;
@link-color:                     #007eff;
@gutter:                         30px;




// Base
// ------------------------------

body {
	color: @text-color;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

a {
	color: @link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0 @gutter;
}

.main-content {
    width: 100%;
    #strike-zone{
        float: left;
        width: 50%;
        margin-right: 15px;
    }
    #player-stats{
        position: relative;
        top: 60px;
        .red {
            color: red;
        }
        .green {
            color: green;
        }
        .blue {
            color: blue;
        }
        .purple {
            color: purple;
        }
        .orange {
            color: orange;
        }
        .silver {
            color: silver;
        }
        ul {
            font-size: 25px;
        }
        span {
            font-size: 15px;
            color: black;
        }
        ul > li > ul > li{
            list-style-type: none;
        }
        ul > li > ul {
            position: relative;
            left: 20px;
        }
    }
}



// Headings
// ------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: @heading-color;
	font-weight: 500;
	line-height: 1;
	margin-bottom: .66em;
	margin-top: 0;
}

h1, .h1 {
	font-size: 3em;
}
h2, .h2 {
	font-size: 2em;
	font-weight: 300;
}
h3, .h3 {
	font-size: 1.25em;
	// text-transform: uppercase;
}
h4, .h4 {
	font-size: 1em;
}
h5, .h5 {
	font-size: .85em;
}
h6, .h6 {
	font-size: .75em;
}




// Layout
// ------------------------------

// common

.page-body,
.page-footer,
.page-header {
	padding: @gutter 0;
}

// header

.page-header {
	background-color: @link-color;
	color: mix(white, @link-color, 75%);

	h1, h2, h3 {
		color: white;
	}
	p {
		font-size: 1.2em;
		margin: 0;
	}
	a {
		border-bottom: 1px solid fade(white, 30%);
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			border-bottom-color: white;
			outline: none;
			text-decoration: none;
		}
	}
}

// subheader

.page-subheader {
	background-color: mix(@link-color, white, 10%);
	line-height: 20px;
	padding: @gutter 0;
    .batters-list{
        width: 50%;
        display:inline-block;
    }
    .pitchers-list{
        width:50%;
        display:inline-block;
    }
}
.page-subheader__button {
	float: right;
}
